/*html,body
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
}*/
@media screen and (max-width:720px )
{
	html{font-size: 6px !important;}
}
@media screen and (min-width:720px) and (max-width:992px )
{
    html{font-size: 10px !important;}
}
@media screen and (min-width:993px) and (max-width:1199px )
{
    html{font-size: 14px !important;}
}
@media screen and (min-width:1200px )
{
    html{font-size: 16px !important;}
}
.body
{
	margin:0;
	width:100%;
}
.subnav
{
	height: 30px;
	width:100%;
	display: inline-block;
}
.subnav>p
{
	font-size: 12px;
	margin-top:5px;
	margin-left:80px;
	display: inline-block;
	color:#29b078;
}
.subnavicon
{
	display: inline-block;
	position: absolute;
	right: 80px;
	top:5px;
}
.subnavicon>img
{
	height:20px;
	width:20px;
}
.mainnav
{
	height:40px;
	background-color: #29b078;
}
.navword
{
	position:absolute;
	right:80px;
}
.navword>div
{
	display: inline-block;
	width:60px;
	text-align: center;
}
.mainnav p
{
	color:white;
	font-size:14px;
	display: inline-block;
	margin-top:8px;
	margin-bottom:0;
}
.element
{
	background-color: white;
	height:2px;
	width:0px;
	position: relative;
	top:6px;
	-moz-transition:width 0.5s;
	-webkit-transition:width 0.5s;
	-o-transition:width 0.5s;
	transition:width 0.5s;
}
.father:hover .element{
	width:100%;
}
.csubnav,.containernav
{
	border-bottom:1px solid #d5d5d5;
}
.csubnav p,.containernav>p
{
	display: inline-block;
	font-size: 15px;
	font-weight:bold;
	margin:20px;
	margin-left:0;
}
.csubnav p:last-child
{
	margin-left:-20px;
	color:#29b078;
}
.containernav>div
{
	display: inline-block;
	margin:10px;
}
.containernav>div:first-child
{
	margin-left:0;
}
.containernav p
{
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	color:#999999;
	margin:0;
	-moz-transition:color 1s;
	-webkit-transition:color 1s;
	-o-transition:color 1s;
	transition:color 1s;
}
.navfather:hover .navhover
{
	background-color: #29b078;
	color:white;
}
.fontend,.backend,.operation
{
	margin:10px;
	border-bottom:1px solid #d5d5d5;
}
.fontend>p,.backend>p,.operation>p
{
	font-size: 16px;
	font-weight: bold;
}
.containerpic img
{
	height:auto;
	width:100%;
	display: inline-block;
}
.boxcontainer
{
	padding-top: 20px;
}
.box
{
	border:1px solid #999999;
}
.boxitem1,.boxitem2
{
	border-bottom:1px solid #999999;
	padding:5px;
}
.boxitem3,.boxitem4
{
	border-bottom:1px solid #999999;
	padding-top: 5px;
	padding-bottom:5px;
}
.boxitem5
{
	padding:5px;
}
.boxicon img
{
	height:100px;
	width:100px;
}
.items,.boxicon
{
	display: inline-block;
}
.box p
{
	display: inline-block;
	font-size: 1rem;
	margin:0;
}
.item1
{
	width:60%;
	padding-left:10px;
}
.item1 p:first-child
{
	font-size:1rem;
	font-weight: bold;
}
.item1 p:last-child
{
	font-size:0.8rem;
}
.boxitem1,.boxitem2
{
	display: flex;
	justify-content: center;
	align-content: center;
}
.boxitem3,.boxitem4
{
	display: flex;
	justify-content:space-around;
}
.boxstar
{
	height:15px !important;
	width:15px !important;
}
.item2>p,.item3>p,.item4>p,.item5>p,.item6>p,.item9>p
{
	color:#999999;
	font-size:0.8rem;
}
.item5
{

}
.fontred
{
	color:red;
}
.item6
{
	width: 40%;
}
.item6>p
{
	margin-top:20%;
}
.item7
{
	width:50%;
}
.item3>p,.item2>p,.item4>p,.item5>p,.item7>p,.item8>p,.item9>p
{
	/*margin-top:10px;*/
}
.item7wordright
{
	margin-left:20px;
}
.item9>p
{
	margin-top: 10px;
}
.pichover
{
	height: 100%;
	position: absolute;
	margin-right: 15px;
	padding:10%;
	color:white;
	background-color: rgba(0,0,0,0.8);
	display: none;
	z-index: 5;
}
.pichover>p
{
	font-size:1rem;
}
.pichover>p:first-child
{
	text-align: center;
}
.picfather:hover
.pichover
{
	display: block;
}
.gap1
{
	height:20px;
}
.gap2
{
	height: 20px;
}
.backtotop
{
	height:40px;
	width:40px;
	background-color:#29b078;
	border-radius: 50px;
	position:fixed;
	right:15px;
	bottom:200px;
	padding:5px;
	font-size: 12px;
	color:white;
	text-align: center;
}
.foot
{
	height: 150px;
	width:100%;
	background-color:#29b078;
	position: relative;
}
.copyright
{
	color:white;
	width:100%;
	border:1px green solid;
	position:absolute;
	bottom: 0;
	text-align: center;
}
.copyright>p
{
	font-size:12px;
	margin:0;
}
.aboutus
{
	height:80px;
	display: inline-block;
	position:absolute;
	left:5%;
	top:25px;
}
.aboutus>p
{
	color:white;
	font-size:12px;
	margin:0;
}
.aboutus p:last-child
{
	margin-top:25px;
}
.subweb
{
	height:80px;
	display: inline-block;
	position:absolute;
	left:20%;
	top:25px;
}
.subweb p
{
	font-size:12px;
	margin:0;
	color:white;
	display: inline-block;
}
.subweb div:last-child
{
	width:200px;
	position: relative;
}
.website p:last-child,.website p:nth-child(2)
{
	margin-left:20px;
}
.qrcode
{
	text-align: center;
	display: inline-block;
	position:absolute;
	top:15px;
	right: 80px;
}
.qrcode>img
{
	height:80px;
	width:80px;
}
.qrcode>p
{
	color:white;
	margin-bottom:0;
	font-size:12px;
}
