.body
{
	background-color:#00CED1;
}
.logo
{
	text-align:center;
}
.discribe
{
	color:white;
	text-align:center;
	margin:50px 50px;
}
.left
{
	color:white;
	display:inline-block;
	margin-left:20px;
	
}
.right
{
	color:white;
	float:right;
	margin-right:0;
	text-align:center;
}
.bottom
{
	margin:100px 50px;
}
