*
{
	margin:0;
	padding:0;
}
@media screen and (max-width:768px )
{
	html
	{
		font-size: 14px !important;
	}
}
@media screen and (min-width:768px) and (max-width:992px )
{
	html
	{
		font-size: 16px !important;
	}
}
@media screen and (min-width:992px) and (max-width:1200px )
{
	html
	{
		font-size: 14px !important;
	}
}
@media screen and (min-width:1200px)
{
	html
	{
		font-size: 14px !important;
	}
}
/*顶部客服热线样式*/
.loginbar
{
	background-color: #1d7ad9;
	height:35px;
}
.loginbar p
{
	font-size:1rem;
	color:white;
	margin:0;
	margin-top:3.9px;
}
.loginbar p,.loginbar div
{
	display: inline-block;
}
.loginbar>div
{
	position:absolute;
	height:35px;
}
.loginbar div:first-child
{
	left:3rem;
}
.loginbar>div:nth-child(2)
{
	right:6rem;
}
.loginhover
{
	padding-left:5px;
	border-left:solid 1px white;
	height:35px;
}
.loginbar>div:last-child
{
	right:3rem;
}
.loginfather:hover
.loginhover
{
	background-color: white;
	height:40px;
	width:40px;
	padding:2px;
}
.loginfather:hover
.loginhover>p
{
	color:black;
}
/*首页点击栏部分的样式*/
.companyname,.website
{
	display: inline-block;
	color:#1d7ad9;
}
.companyname
{
	position: absolute;
	left:3rem;
}
.chinesename,.website
{
	margin-bottom:0;
}
.chinesename
{
	font-weight: bold;
}
.website
{
	font-size: 0.8rem;
}
.homepagebar
{
	height:60px;
	position: relative;
}
.homepagehover,.homepagehover>p,.homepagefather
{
	display: inline-block;
	font-size: 1rem;
	margin:0;
}
.homepagehover
{
	padding:5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	border:1px solid #999999;
	border-radius: 5px;
	box-shadow: 0px 0px 1px;
}
.homepagefather
{
	position:absolute;
	bottom:0;
}
.homepagebar div:first-child
{
	right:20rem;
}
.homepagebar div:nth-child(2)
{
	right:14rem;
}
.homepagebar div:nth-child(3)
{
	right:9rem;
}
.homepagebar>div:last-child
{
	right:3rem;
}
.homepagefather:hover
.homepagehover
{
	background-color:#1d7ad9;
	border:none;
	box-shadow: none;
}
.homepagefather:hover
.homepagehover>p
{
	color:white;
}
#btn
{
	display: none;
}
/*首页点击部分手机页面样式*/
@media screen and (max-width:768px )
{
	.homepagefather
	{
		display: none;
	}
	#btn
	{
		display: block;
		position:absolute;
		right:3rem;
		top:60px;
		padding:0px;
		background-color:white;
		border-color: #999999;
	}
	.btnall
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height:30px;
		padding:5px;
		border-radius: 5px;
	}
	.btngrey
	{
		height:3px;
		width:25px;
		background-color:#999999;
	}
	.selectmenu
	{
		position: relative;
		top:20px;
		height:50px;
		background-color:white;
	}
	.selectmenu a
	{
		font-size:1rem;

	}
	.selectmenu ul
	{
		display: flex;
		flex-direction:row;
		justify-content: space-around;
	}
	.selectmenu li
	{
		list-style-type: none;
		margin-top:10px;
	}
}
/*顶部进度条部分*/
.progressbar
{
	height:80px;
	position:relative;
}
.progressbar>div
{
	position: absolute;
	bottom:0px;
	right:3rem;
}
.progressfather
{
	display: inline-block;
	margin-left:-4px;
}
.progressfather
{
	height:30px;
	position: relative;
}
.progresscrossband
{
	height:5px;
	background-color:#cbcbcd;
	width:120px;
}
.progresscircle
{
	display: inline-block;
	height:20px;
	width:20px;
	background-color:#cbcbcd;
	border-radius: 20px;
	position: absolute;
	top:-7.5px;
	left:50px;
	display: flex;
	justify-content: center;
	align-content: center;
	color:white;
}
.progressword>p
{
	font-size: 1rem;
	margin:0;
	margin-top:10px;
	text-align: center;
	color: #cbcbcb;
}
.progressfather:hover
.progresscrossband
{
	background-color:orange;
}
.progressfather:hover
.progresscircle
{
	background-color:orange;
}
.progressfather:hover
.progressword>p
{
	color:orange;
}
/*顶部进度条手机样式*/
@media screen and (max-width:768px )
{
	.progresscrossband
	{
		height:3px;
		background-color:#cbcbcd;
		width:80px;
	}
	.progresscircle
	{
		height:20px;
		width:20px;
		border-radius: 20px;
		left:30px;
	}
}
.progresscrossband1,.progresscircle1
{
	background-color: orange;
}
.progressword1>p
{
	color:orange;
}
@media screen and (max-width:360px )
{
	.progresscrossband
	{
		height:3px;
		background-color:#cbcbcd;
		width:60px;
	}
	.progresscircle
	{
		height:20px;
		width:20px;
		border-radius: 20px;
		left:20px;
	}
	.progressword>p
	{
		font-size: 12px;
	}
}
/*内容导入语的样式*/
.importword
{
	display: inline-block;
	position:relative;
	left:3rem;
	top:1rem;
	padding-left:2px;
	border-left:solid 2px #1d7ad9;
}
.importword>p
{
	margin:0;
	font-size: 1rem;
}
/*选择框部分*/
/*选择箱型*/
.container
{
	background-color: #f2f2f2;
	padding-bottom: 0;
	border-left:1px solid #cdc9c9;
	border-right:1px solid #cdc9c9;
	border-top:1px solid #cdc9c9;
	margin-top: 10px;
}
.meterial
{
	border-bottom:1px solid #cdc9c9;
}

.boxtypetop>p,.boxsizetop>p,.meterialtop>p
{
	display: inline-block;
	font-size: 1rem;
	margin:0;
	color:#1d7ad9;
}
.boxtypetop>img
{
	height:16px;
	width:20px;
}
.row
{
	background-color: white;
	position: relative;
}
.box
{
	display: inline-block;
	margin-top:10px;
}
.radioword
{
	font-size: 1rem;
	font-weight: normal;
	margin-left:20px;
}
#radio1,#radio2,#radio3,#radio4,#radio5,#radio6,#radio7,#radio8,#radio9,#radio10
{
    display: none;
}
label
{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    line-height: 50px;
    color: #999;
}
label:active
{
    background: #EEEEEE;
}
label:after
{
    content: "";/*必须设置*/
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #999999;
    position: absolute;
    top: 8.5px;
    left:-20px;
    border-radius: 15px;
}
#radio1:checked+label:after
{
    background-color:#1d7ad9;
}
#radio2:checked+label:after
{
    background-color:#1d7ad9;
}
#radio3:checked+label:after
{
    background-color:#1d7ad9;
}
#radio4:checked+label:after
{
    background-color:#1d7ad9;
}
#radio5:checked+label:after
{
    background-color:#1d7ad9;
}
#radio6:checked+label:after
{
    background-color:#1d7ad9;
}
#radio7:checked+label:after
{
    background-color:#1d7ad9;
}
#radio8:checked+label:after
{
    background-color:#1d7ad9;
}
#radio9:checked+label:after
{
    background-color:#1d7ad9;
}
#radio10:checked+label:after
{
    background-color:#1d7ad9;
}
.whitepoint
{
	background-color:white;
	height:5px;
	width:5px;
	border-radius:5px;
	position: absolute;
	top:13.5px;
	left:20px;
}
#dropdownMenu
{
	position: absolute;
	top:10px;
	right: 3rem;
}
#dropdown-menu
{
	position: absolute;
	top:44px;
	right:3rem;
}
/*确定尺寸*/
.outer,.inner
{
	margin-top: 10px;
	margin-bottom:10px;
}
.inputsize,.inputsize>p
{
	display: inline-block;
	margin:0;
	font-size: 1rem;
	color:#999999;
}
.inputsize
{
	margin-top:5px;
}
.inputnumber
{
	width:80px;
}
@media screen and (max-width:768px )
{
	.outer,.inner
	{
		margin-bottom: 5px;
	}
}
@media screen and (min-width:768px) and (max-width:992px )
{
	.outer,.inner
	{
		margin-bottom: 5px;
	}
}
/*确定材料样式*/
.meterialrow,.boxsizerow
{
	padding-top:20px;
}
/*下一步样式*/
.nextstep
{
	margin-top:80px;
	margin-bottom: 80px
}
.nextstepbtn
{
	text-align: center;
}
#nextbtn
{
	width:100px;
	background-color: #e15053;
	border-color:#e15053;
}
/*底部样式*/
.bottom,.bottom>div
{
	background-color:white;;
	border-color: white;
}
.mostbottom
{
	background-color:#1d7ad9;
	text-align: center;
	margin-top:10px;
}
.bottom
{
	margin-top:50px;
}
.bottomfirstrow>p
{
	padding-left: 15px;
}
.bottom p,.mostbottom p
{
	margin:0;
	color:grey;
	font-size: 0.8rem;
	display: inline-block;
}
.mostbottom p
{
	color: white;
}
.bottomrow
{
	margin-top:20px;
}
.aboutusfather:hover
.aboutushover
{
	color:#1d7ad9;
}
.bottomrow>img
{
	position: relative;
}