@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 320px) {
  html {
    font-size: 13px; } }
.box-all, .box {
  height: 7rem;
  background-color: white;
  border-bottom: solid 1px #dddcdc;
  position: relative; }

.nav-all, .nav, .bottom-nav {
  height: 3rem;
  background-color: #5fc0cd;
  display: flex;
  justify-content: center; }

.img, .nav-right > img {
  height: 35px;
  width: 35px; }

.p-all, .box p {
  display: inline-block;
  font-size: 1rem;
  color: #999999; }

.nav-right {
  height: 3rem; }

.nav-center, .nav-right {
  display: flex;
  align-items: center; }

.nav-center-right, .nav-center-left, .nav-center-right > p, .nav-center-left > p {
  display: inline-block; }

.nav-center-right > p, .nav-center-left > p {
  font-size: 1.2rem;
  color: #5fc0cd; }

.nav-center-left > p {
  color: white; }

.nav-center-right, .nav-center-left {
  padding: 7px;
  background-color: white;
  border-radius: 5px; }

.nav-center-left {
  background-color: #2ea5a0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.nav-right {
  position: absolute;
  right: 2rem; }

.nav-choose {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 2.5rem; }

select {
  height: 2.5rem;
  width: 100%;
  border-top: none;
  border-left: none;
  text-align-last: center;
  background: url(pic/下拉箭头.png) no-repeat right;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.box {
  display: flex;
  justify-content: space-between; }
  .box img {
    height: 25px;
    width: 25px; }
  .box .box > div {
    display: flex;
    align-items: center;
    position: relative; }
  .box .item-date, .box .item-adress {
    margin-top: 15px;
    display: flex;
    align-items: center; }
  .box .item-day {
    display: flex;
    align-items: center; }
  .box .arrow > img {
    height: 30px;
    width: 15px; }
  .box .item-date {
    padding-left: 25px; }
    .box .item-date p {
      color: black;
      font-size: 1.1rem; }
  .box .item-cost, .box .arrow {
    position: absolute;
    right: 3.5rem;
    top: 40px; }
    .box .item-cost p, .box .arrow p {
      color: red;
      font-size: 1.2rem; }
  .box .arrow {
    right: 2rem;
    top: 38px; }

.bottom-nav {
  height: 5rem;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%; }
  .bottom-nav button {
    border: 0;
    background-color: white; }
  .bottom-nav img {
    height: 40px;
    width: 40px; }
  .bottom-nav .homepage {
    text-align: center; }
    .bottom-nav .homepage p {
      font-size: 1rem;
      color: #5fc0cd; }
    .bottom-nav .homepage a {
      text-decoration: none; }
  .bottom-nav .bottom-icon > img {
    height: 4rem;
    width: 4rem; }
  .bottom-nav .myself {
    text-align: center; }
    .bottom-nav .myself p {
      font-size: 1rem;
      color: #999999; }
    .bottom-nav .myself a {
      text-decoration: none; }

/*# sourceMappingURL=task12.css.map */
