.body
{
	width:100%;
	margin:0;
	background-color:#29bde0;
}
.top
{
	height:50px;
	display:inline-block;
}
.toppic1,.toppic2
{
	height:25px;
	width:30px;
	position:absolute;
	top:12.5px;
}
.toppic1
{
	left:20px;
}
.toppic2
{
	right:20px;
}
.topword
{
	position:absolute;
	top:0;
	color:white;
	left:50%;
	margin-left:-32px;
}
.first
{
	height: 300px;
	margin:0;
	position:relative;
}
.firstpic
{
	height:150px;
	width:250px;
	position:relative;
	top:20px;
	left:50%;
	margin-left:-125px;
}
.firstword
{
	color:#ffc865;
	width:300px;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-size:20px;
	position:relative;
	top:40px;
}
.secondword>p
{
	color:white;
	margin:7px;
	font-size:18px;
}
.second
{
	position:relative;
	width:350px;
	margin:0;
	margin-left: auto;
	margin-right: auto;
}
.third
{
	height:300px;
	margin:0;
	position:relative;
	top:10px;
}
.third>div
{
	background-color:white;
	width:auto;
	border:solid 1px #d3d3d3;
	position:relative;
	margin:0;
}
.tword>p
{
	margin:5px;
	font-size:16px;
	color:#a6a6a6;
}
.tword
{
	width:300px;
	position:relative;
	margin:0;
	margin-left: auto;
	margin-right: auto;
}
#special
{
	margin:7px;
	color:black;
}
.bottom
{
	height:100px;
	width:100%;
	background-color:rgba(41,189,224,0.5);
	border:white 1px solid;
	position:fixed;
	bottom:0;
}
.buttom1,.buttom2
{
	height:60px;
	width:40%;
	position:absolute;
	display:inline-block;
	top:20px;
	border-radius:10px;
}
.buttom1
{
	background-color:#f66f6f;
	left:40px;
}
.buttom2
{
	background-color:#fbb435;
	right:40px;
}
.buttom1>p,.buttom2>p
{
	font-size:20px;
	color:white;
	text-align:center;
	margin:0;
	position: relative;
	top:16.8px;
}
