        .body
	    {
	    	margin:0;
	    	padding:0;
	    	background-color:#EEEEEE;
	    }
		.top{
			background-color:#00CED1;
			position:fixed;
			color:white;
			display:inline-block;
			width:100%;
			height:8.5%;
		}
		.lefttop
		{
			margin-left:4%;
			font-size:16px;
			font-weight:bolder;
		}
		.middletop
		{
			position:absolute;
			left:47.5%;
			top:0;
			font-size:16px;
			font-weight:bolder;
		}
		.righttop
		{
			position:absolute;
			left:88%;
			top:0;
			font-size:16px;
			font-weight:bolder;
		}
		.icon_phone
		{
			position:absolute;
			left:13px;
			top:13px;
			z-index:5;
			background-image: url(pic/iphone.png);
			width:20px;
			height:20px;
		}
		.number
		{
			background-color:white;
			color:grey;
			position:fixed;
			left:0;
			top:10%;
			width:100%;
			height:7.5%;
			padding-left:50px;
			border:none;
		}
		.icon_lock
		{
            position:absolute;
			left:13px;
			top:13px;
			z-index:5;
			background-image: url(pic/locked2.png);
			width:20px;
			height:20px;
		}
		.password
		{
			background-color:white;
			position:fixed;
			left:0;
			top:20%;
			width:100%;
			height:7.5%;
			padding-left:50px;
			border:none;
		}
		.login
		{
			background-color:#00CED1;
			color:white;
			position:fixed;
			top:30%;
			width:100%;
			height:7.5%;
			font-size:16px;
			font-weight:bolder;
			border:none;
		}
		.forget
		{
			position: absolute;
			right:5px;
			top:38%;
			font-size:12px;
			color:#00CED1;
		}