.body
{
	width:100%;
	margin:0;
	background-color:#efeded;
}
.top
{
	background-color:#29bde0;
	height:50px;
}
.toppic
{
	height:20px;
	width:20px;
	margin:15px;
	margin-left:10px;
}
content
{
	background-color:#e3e1e1;
}
.first
{
	height:80px;
	margin:15px;
	border:solid 1px #c9c9c9;
	position:relative;
	background-color:white;
	text-align:center;
}
.first>p
{
	display:inline-block;
	margin-top:23.8px;
	color:#9a9a9a;
}
.icon1
{
	position:absolute;
	right:20px;
	top:19px;
}
.second
{
	border:solid 1px #c9c9c9;
	margin:15px;
	position:relative;
	background-color:white;
}
.icon2
{
	position:absolute;
	right:1px;
	top:247px;
}
.one
{
	height:60px;
	margin:15px;
	border-bottom:solid 2px #fde1ae;
	text-align:center;
	color:#fbb435;
}
.one>p,.two>p,.three>p,.four>p,.five>p
{
	display:inline-block;
}
.two>p,.four>p,.five>p
{
	margin-top: 24.8px;
}
.two,.four,.five
{
	height:80px;
	margin-left:70px;margin-right:70px;
	background-color:#69d1e9;
	color:white;
	text-align:center;
	cursor:pointer;
}
.three
{
	height:30px;
	margin:10px;
	text-align: center;
	color:#787878;
}
